.header {
	margin-left: 50px;
}
.regis {
	margin-left: 90px;	
}
.box {
	margin-left: 50px;
}
.top-box {
	margin-top: 20px;
}
.bottom-box {
	margin-top: 10px;
	margin-bottom: 10px;
}
.button {
	margin-left: 50px;
}
