<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Sirawat Ngramphandisorn">

		<title>Authentication</title>
	</head>
	<body>
		<form id="submiting" action="/login"  method="POST">
			<h2>Please sign in</h2>
			<label>Username</label>
			<input type="text" name="username" placeholder="Username" required autofocus>
			<label>Password</label>
			<input type="password" name="password" placeholder="Password" required>
			<button type="submit">Sign in</button>
		</form>
	</body>
</html>
